.item-card {
  position: relative;
  padding: $sm-margin;
  background-color: $white;
  border-bottom: 1px solid $border-color;

  display: flex;
  color: $gray;
  text-decoration: none;
}

.item-card .desc-column {
  padding: 0px $sm-margin;
  font-size: $md-font-size;
}

.item-card .desc-column .price-group{
  margin-top: calc(#{$sm-margin} + 10px);
}

.item-card .img-column .image-container {
  width: 180px;
  height: 180px;
  border-radius: $border-radius;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-card .title {
  margin-top: $md-margin;
  font-size: $md-font-size;
}