.item-card {
  position: relative;
  padding: $sm-margin;
  background-color: $white;
  border-bottom: 1px solid $border-color;

  display: flex;
  color: $gray;
  text-decoration: none;
}

.item-card .desc-column {
  padding: 0px $sm-margin;
  font-size: $md-font-size;
}

.item-card .desc-column .price-group{
  margin-top: calc(#{$sm-margin} + 10px);
}

.item-card .img-column .image-placeholder{
  width: 180px;
  height: 180px;
}

.item-card .img-column .image-placeholder .micro-image{
  background-size: 200%;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-position-y: -49px;
  background-position-x: -49px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.item-card .img-column .image-container {
  width: 180px;
  height: 180px;
  border-radius: $border-radius;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-card .title {
  margin-top: $md-margin;
  font-size: $md-font-size;
}