.item-detail {
  margin: 10px 5px;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include breakpoint(notebook){
    margin: 10px 10%;
  }

  @include breakpoint(desktop){
    margin: 10px 20%;
  }
}

.item-detail .details-column{
  width: 100%;
  padding: $sm-margin;

  @include breakpoint(notebook){
    width: 40%;
    padding: $md-margin 0;
  }

  @include breakpoint(desktop){
    width: 25%;
  }
}

.item-detail .description-group{
  width: 100%;
  margin: $sm-margin;

  @include breakpoint(notebook){
    margin: 0px $md-margin;
  }
}

.item-detail .description-group .description-title{
  font-size: $lg-font-size;
  margin-bottom: $md-margin;
}

.item-detail .description-group .description{
  margin-bottom: $md-margin;
  color: $gray;
  font-size: $sm-font-size;
}

.item-detail .details-column .status-info{
  font-size: $sm-font-size;
}

.item-detail .details-column .title{
  margin-top: $sm-margin;
  font-size: $lg-font-size;
}

.item-detail .details-column a.btn{
  margin-right: $md-margin;
  display: block;
  text-align: center;
}

.item-detail .details-column .price-group{
  display: inline-block;
  margin: $md-margin 0;
}

.item-detail .details-column .price-group .price{
  font-size: $lgst-font-size;
}

.item-detail .picture-column{
  width: 680px;
  padding: $sm-margin;
  text-align: center;
}

.item-detail .picture-column img{
  width: 100%;
  margin: 0 auto;
}