.tooltip {
  display: none;
}

.active-tooltip {
  outline: none;
  position: relative;
}

.active-tooltip .tooltip {
  content: attr(aria-label);
  display: inline-block;
  position: absolute;
  top: -60px;
  right: -35px;
  background-color: $secondary;
  color: $white;
  border: 1px solid $secondary;
  border-radius: $border-radius;
  padding: 0 10px;
  font-size: $md-font-size;
  min-width: 121px;
  padding: 6px 10px;
}

.active-tooltip .tooltip:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-top: 11px solid #3B4C99;
  border-bottom: 0 solid transparent;
  left: 42%;
  bottom: -12px;
  border-right: 11px solid transparent;
}