<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://localhost:8080/bundle.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body id="root">
    <div class="container">
      <div id="results-page"></div>
      <script src="http://localhost:8080/bundle.js"></script>
    </div>
  </body>
</html>
