.no-results-text {
  text-align: center;
  margin-top: 20vh;
}

.loading-indicator.center-vh {
  margin-top: 30vh;
}

.items-results {
  margin: 15px 0;

  @include breakpoint(notebook){
    margin: 15px 20%;
  }
}

.category-breadcrumbs {
  margin: 15px 5px;

  @include breakpoint(notebook){
    margin: 15px 20%;
  }
}

.category-breadcrumbs .category {
  display: inline-block;
  color: $dark-gray;
  margin-right: 10px;
}

.category-breadcrumbs .category:last-child {
  font-weight: bold;
}

.category-breadcrumbs .category::after {
  content: '>';
  margin-left: 10px;
}

.category-breadcrumbs .category:last-child::after {
  content: '';
}