// Colors
$primary: #FFF059;
$secondary: #3B4C99;
$call-to-action: #3483FA;

$border-color: #dddddd;
$background-color: #EBEBEB;
$btn-gray-bkg-color: darken(#dddddd, 10%);
$btn-gray-color: darken($btn-gray-bkg-color, 35%);

$white: #FFFFFF;
$black: #000;
$light-gray: #dddddd;
$gray: darken($light-gray, 10%);
$dark-gray: darken($gray, 35%);
$darker-gray: darken($gray, 50%);
$green: #20CD65;

// Input properties
$border-radius: 2px;

// Font sizes
$base-font-size: 16px;
$sm-font-size: 12px;
$md-font-size: 15px;
$lg-font-size: 20px;
$lgr-font-size: 30px;

// Navbar
$nav-bar-height: 75px;

