// Colors
$primary: #FFE600;
$secondary: #3B4C99;
$call-to-action: #3483FA;

$white: #FFFFFF;
$black: #333333;
$gray: #666666;
$darker-gray: #999999;
$dark-gray: #666666;
$light-gray: #EEE;
$green: #20CD65;

$border-color: #dddddd;
$background-color: $light-gray!default;
$btn-gray-bkg-color: darken(#dddddd, 10%);
$btn-gray-color: darken($btn-gray-bkg-color, 35%);

// Margins
$sm-margin: 16px;
$md-margin: 32px;

// Input properties
$border-radius: 4px;

// Font sizes
$md-font-size: 18px;
$base-font-size: 16px;
$sm-font-size: 14px;
$lgr-font-size: 28px;
$lg-font-size: 24px;
$lgst-font-size: 46px;

// Navbar
$nav-bar-height: 75px;

