@import "variables";

@import "partials/mixins";
@import "partials/icons";
@import "partials/forms";
@import "partials/buttons";
@import "partials/search_form";
@import "partials/logo";
@import "partials/tooltips";
@import "partials/navbar";
@import "partials/loading_indicator";
@import "partials/item_card";
@import "partials/prices";
@import "partials/item_detail";

@import "pages/search_page";
@import "pages/results_page";

* {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

.container {
  @include breakpoint(notebook){
    margin: 10px 10%;
  }
}

body {
  margin: 0;
}

body#home-page-layout {
  background-color: $primary;
}

body#main-layout {
  background-color: $background-color;
}
