@import "variables";
@import "partials/icons";
@import "partials/forms";
@import "partials/buttons";
@import "partials/search_form";
@import "partials/logo";

* {
  box-sizing: border-box;
  font-size: $base-font-size;
}

input[type="submit"] {
  color: red;
}

.container {
  margin: 10px 10%;
  height: 100%;
}

body {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body#home-page {
  background-color: $primary;
}
