@import "variables";

@import "partials/mixins";
@import "partials/icons";
@import "partials/forms";
@import "partials/buttons";
@import "partials/search_form";
@import "partials/logo";
@import "partials/tooltips";

@import "pages/search_page";

* {
  box-sizing: border-box;
  font-size: $base-font-size;
}

.container {
  @include breakpoint(tablet){
    margin: 10px 10%;
  }
}

body#root {
  background-color: $primary;
}

