<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://localhost:8080/bundle.css">
  </head>
  <body id="root">
    <div class="container">
      <div id="search-page"></div>
      <script src="http://localhost:8080/bundle.js"></script>
    </div>
  </body>
</html>
